.loading {
  font-size: 20px;
  font-weight: bold;
  color: blue;
}

.data-list {
  list-style-type: none;
  padding: 0;
}

.data-list li {
  margin-bottom: 10px;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}
